{% extends "base.html"%}
{% load static %}

{% block title %}
    Your Shopping Cart
{% endblock %}

{% block content %}
<div class="container px-3 my-5 clearfix">
    <div class="card">
      <div class="card-header bg-light border-light">
        <h2>Shopping Cart</h2>
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0">Your cart: <a href="{% url 'cart:cart_detail' %}">{{ total_items }} item{{ total_items|pluralize }}</a> | Shs {{ cart.get_total_price }}</p>
            </div>
          {% else %}
            <p class="text-center mb-0">Your cart is empty</p>
          {% endif %}
        {% endwith %}
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover m-0">
            <thead>
              <tr>
                <th class="text-center py-3 px-4" style="min-width: 300px;">Product Name &amp; Details</th>
                <th class="text-right py-3 px-4" style="width: 150px;">Price</th>
                <th class="text-center py-3 px-4" style="width: 200px;">Quantity</th>
                <th class="text-right py-3 px-4" style="width: 200px;">Total</th>
                <th class="text-center align-middle py-3 px-0" style="width: 50px;"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}
                {% with product=item.product %}
                  <tr>
                    <td class="p-4 d-flex align-items-center">
                        <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="d-block ui-w-40 ui-bordered me-4" alt="">
                        <div >
                          <a href="{% url 'business:product' product.id %}" class="d-block text-dark">{{ product.name }}</a>
                        </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">SHS {%if product.discount %} {{product.discounted_price}} {% else %}{{ product.price }} {% endif %}</td>
                    <td class="align-middle p-4">
                      <form action="{% url 'cart:cart_add' business_id=product.Business.id product_id=product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input type="submit" value="Update" class="btn btn-sm btn-primary">
                        {% csrf_token %}
                      </form>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">SHS {{ item.total_price }}</td>
                    <td class="text-center align-middle px-0">
                      <form method="post" action="{% url 'cart:cart_remove' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link p-0"><i class="fas fa-trash-alt text-danger"></i></button>
                      </form>
                    </td>
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer bg-light border-light">
        <div class="d-flex justify-content-between align-items-center">
          <div class="text-muted">Total price</div>
          <div class="text-large font-weight-bold">Shs {{ cart.get_total_price }}</div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <a href="{% url 'business:product-list' %}" class="btn btn-outline-secondary me-2">Back to shopping</a>
          <a href="{% url 'business:order_create'%}" class="btn btn-primary">Checkout</a>
        </div>
      </div>
    </div>
</div>

{% endblock %} 

    

