.pagination{
  text-align: center;

}
.pagination a{
  color:black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
 
  
}
.pagination a.active{
  background-color: greenyellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 5px;
}
.pagination a:hover:not(.active){
  background-color: blanchedalmond;
  border-radius: 5px;
}
.pagination p {
  text-align: center;
  color: black;
}
p  {
  text-align: center;
  color: black;
}