{% extends 'base.html' %}
{% load static%}
{% block content %} 
<head> 
    
    <style>
     .about-item {
      margin-bottom: 10px;
      margin-top: 10px;
      background-color:#fff;
      padding: 80px 30px;
      box-shadow: #fff;
    }
    
  
    .about-item h3 {
      font-size: 30px;
      margin-bottom: 10px;
      color: #fd7d14;
    }
    .about-item-sections {
      display:flex;
      justify-content:center;
      gap:50px;
      align-items:center;
      margin:20px 0px;
    }
    .container.images{
        display:flex;
        flex-direction:column;
    }
    .container img{
        max-width:400px;
        height:auto
        
        }
    
    
    </style>
</head>

<section id="about">
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="col">
                    <div class="about-item-sections">
                        <div class="about-item text-center">

                            <h3>Welcome to OneSTOP</h3>
                          
                            <hr>
                            <p>Our vision is to become a premier destination for all products and services nationwide. We built OneStop to help businesses showcase their products and help customers acccess the goods conviniently at the best prices.
                           We have been able to bridge the gap between customers and business owners. </p>
                        </div>
                        <img src="{% static 'images/about.jpg' %}">
                    </div>
                   
                      
                    </div>
                  
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
