{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block content %}          
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Add Services</h2>
                <section class="py-5">
                    {% if submitted %}
                        Your product was added successfully
                    {% else %}
                        <form action="" method="POST" enctype="multipart/form-data" class="my-class">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" value="Submit" class="btn btn-primary mt-2">
                        </form>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>    
{% endblock %}


