{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">BOOK AN APPOINTMENT</h1>
      <form method="post">
        {% csrf_token %}
        
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary my-2">BOOK</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

