{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
        .d-block a:hover{
            color:orange !important;
        }
       </style>
      
  
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>OneStop</title>        
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico'%}" />        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />        
    <link href="{% static 'css/CartStyles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>       
</head>
<body>
    {% csrf_token %}
    {% include "navbar.html" %}
    <div class="container " style="margin-top: 75px;">
        {% if messages %}
          <div class="alert alert-primary alert-dismissible fade show d-flex justify-content-center " role="alert" >
            <div class="text-center">
              {% for message in messages %}
                {{ message }}<br>
              {% endfor %}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        {% endif %}
      </div>
      
    <div class="main-content">
        {% block content %}
    
        {% endblock %}
    </div>

    <br>
    <br>
    <footer class="py-3 bg-dark m-0 text-center text-white">
        <div class="d-block">
            <a href="{% url 'business:contact' %}" class="nav-link active"> CONTACT US </a>
            <a href="{% url 'business:about' %}" class="nav-link active"> ABOUT US </a>
        </div>   
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2024 All rights reserved by GROUP_8</p></div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>       
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</body>
</html>
