{% extends 'base.html' %}
{% block content%}
    <section>
        
        <div class="row ">
            <div>
        
                <!-- Profile widget -->
                <div class="bg-white shadow rounded overflow-hidden ms-5 me-5">
                    <div class="px-4 pt-0 pb-4 bg-dark">
                        <div class="media align-items-end profile-header">
                            <div class="profile mr-3"><img src="{{business.logo.url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">{{ business.name }}</h4>
                                <p class="small mb-4 text-white"><i class="bi bi-geo-alt"></i>{{ business.location}}</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="bg-light p-4 d-block justify-content-start align-items-center">
                        <p class="font-weight-bold mb-0">Name:<strong>{{ business.name }}</strong></p>
                        <p class="text mb-0 ms-0">Contact:<strong>{{ business.business_contact }}</strong></p>
                        <p class="text mb-0">Email:<strong> {{ business.email }}</strong></p>
                        <p class="text-wrap">Description:<strong>{{ business.description }}</strong></p>
                    </div>
                      
                      
                    <!-- products -->
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            {% for product in products %}
                                {% if product.trending %}                    
                                    <div class="col mb-3">
                                        <div class="card ">                        
                                            <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                            <div class="card-body p-1 bg-gradient">
                                                <div class="text-center">                               
                                                    <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128); text-decoration: line-through;"> Shs {{product.price}} </h3>  
                                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.trending_price}} </h3>                                                         
                                                    
                                                </div>
                                            </div>                        
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'order'  %}">VIEW PRODUCT</a></div>                                
                                            </div>
                                        </div>
                                    </div>
            
            
                                {% else %}
                                    <div class="col mb-3">
                                        <div class="card ">                        
                                            <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                            <div class="card-body p-1 bg-gradient">
                                                <div class="text-center">                               
                                                    <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.price}} </h3>                                  
                                                    
                                                </div>
                                            </div>                        
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:product' product.id %}">VIEW PRODUCT</a></div>                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}                
                                
                        </div>            
                    </div>
                    <hr>
                    {% if services %}
                        <div class="container px-4 px-lg-5 mt-5">
                            <div class="row container m-4" id="3">
                                <div style="display: flex; align-items: start;">
                                    <p text>Services Available</p>
                                </div>
                                {% for service in services %}
                                    <div class="col mb-3" >
                                        <div class="card">                        
                                            <img class="card-img." src="{{ service.photo.url }}" alt="service image "  style="width: 100%; height: 180px; object-fit: cover;" />                        
                                            <div class="card-body p-1">
                                                <div class="text-center">                               
                                                    <h5 class="fw-bolder " style="font-family: sans-serif;">{{service.service_name}} </h5>                             
                                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(0, 255, 102);"> Shs {{service.price}} </h3>                                                       
                                                    
                                                </div>
                                            </div>                      
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-primary mt-auto btn-lg btn-block" href="{% url 'business:service' service.id %}">VIEW SERVICE</a></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>    
                        </div>
                    {% endif %}
                </div>
        
            </div>
        </div>
    </section>
{% endblock %}