{% extends 'base.html' %}
{% load static%}
{% block content %} 
<head>
    <style>
    
        * {
            margin: 0;
            padding: 0;
            font-family: poppins sans-serif;
        }
        

        .container {
          
            display:flex;
            justify-content:center;  
            flex-direction: row-reverse;
            align-items: center;
            gap:20px;
           
        }

        .container .images {
            display: flex;
            flex-direction: column;
        }

        .container-form {
            width: 400px;
            height: 400px;
            justify-content: center;
            box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
            border: none;
            background: white;
            backdrop-filter: blur(10px);
            padding: 20px;
            transform: translateX(+40%);
        }

        .container-form h1 {
            color: orange !important;;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: center;
        }

        .container-form input,
        .container-form textarea {
            width: calc(100% - 22px);
            height: 40px;
            padding: 0 10px;
            margin-bottom: 10px;
            outline: none;
            border: none;
            font-size: 15px;
            background: none;
            border-bottom: 2px solid black;
        }

        .container-form input::placeholder,
        .container-form textarea::placeholder {
            color: black;
        }

        .container-form .name-inputs,
        .container-form .contact-inputs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .container-form .name-inputs input,
        .container-form .contact-inputs input {
            width: calc(50% - 5px);
        }

        .container-form #button {
            border: none;
            border-radius: 5px;
            font-weight:400;
            font-size: 20px;
            color:orange !important;
            width: 100px;
            padding: 10px 0;
            margin: 0 auto;
            display: block;
            transition: 0.3s;
           
        }

        .container-form #button:hover {
            opacity: 0.7;
            color: black !important;
            background-color: orange!important;
        }

        .container img {
            max-width: 200px;
            height: auto;
            margin-right: 30px;
            transform: translateX(-20%);
        }
    </style>
</head>          
    <div class="container">
        <form class="container-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Get in touch</h1>
            <div class="name-inputs">
                {{ form.first_name }}
                {{ form.last_name }}
            </div>
            <div class="contact-inputs">
                {{ form.email }}
                {{ form.mobile }}
            </div>
            {{ form.message }}
            <input type="submit" value="Send" id="button">

        </form>
        <div class="images">
            <img src="{% static 'images/cc.jpg' %}">
            <img src="{% static 'images/ct.png' %}">
        </div>
    </div>
{% endblock %}
