{% extends "base.html" %}
{% load static %}
{% block content %}            
<div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 500px;">
        <img class="d-block w-100" src="{% static 'carousels\OnlineStore.png'%}"  alt="First slide" style="height: 100%; object-fit: cover;  filter:brightness(0.8)"   >
      </div>
      <div class="carousel-item"  style="height: 500px;" >
        <img class="d-block w-100" src="{% static 'carousels\Product.png'%}"  alt="Second slide" style="height: 100%; object-fit: cover; filter:brightness(0.6)" >
        <div class="carousel-caption d-none d-md-block">
            <h5>ORDER PRODUCTS ONLINE</h5>
            <p style="color: rgb(147, 15, 248); font-size:larger; font-weight: bolder;" >Get what you need, right when you need it.</p>
          </div>
      </div>
      <div class="carousel-item"  style="height: 500px;">
        <img class="d-block w-100" src="{% static 'carousels\Barbershop.png' %}" alt="Third slide" style="height: 100%; object-fit: cover; filter:brightness(0.6)" >
        <div class="carousel-caption d-none d-md-block">
            <h5>BOOK APPOINTMENTS ONLINE</h5>
            <p style="color: rgb(147, 15, 248); font-size:larger; font-weight: bolder;"  >Your time, your terms-book online!</p>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>      
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>      
    </a>
</div>        
    <section class="py-6">
        <div id="outer" class="me-3 ms-3" >
            <div class="row  m-4" id="1" style="position:relative ;">
                <div style="display: flex; align-items: start; font-weight: bold; padding: 10px 20px;">
                    Discounted Products
                  </div>                          
                {% for product in discounted %}
                    {% if product.discount %}
                        <div class="col mb-3">
                            <div class="card">                        
                                <img class="card-img" src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                <div class="card-body p-1 bg-gradient">
                                    <div class="text-center">                               
                                        <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                        <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128); text-decoration: line-through;"> Shs {{product.price}} </h3>  
                                        <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.discounted_price}} </h3>                                                         
                                        
                                    </div>
                                </div>                        
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:product' product.id %}">VIEW PRODUCT</a></div>                                
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div  style="display: flex; align-items: flex-end; justify-content: flex-end;">                    
                    <a href="{% url 'business:product-list' %}" class="btn btn-sm btn-outline-warning">View More Products</a>                    
                </div>
            </div>

            <div class="row  m-4 mt-4" id="2" style="position:relative ;">
                <div style="display: flex; align-items: start; font-weight: bold; padding: 10px 20px;">
                    Products Available
                </div>                  
                {% for product in products %}
                    <div class="col mb-3">
                        <div class="card ">                        
                            <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                            <div class="card-body p-1 bg-gradient">
                                <div class="text-center">                               
                                    <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.price}} </h3>                                  
                                    
                                </div>
                            </div>                        
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:product' product.id %}">VIEW PRODUCT</a></div>                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div style="display: flex; align-items: flex-end; justify-content: flex-end;">                    
                    <a href="{% url 'business:product-list' %}" class="btn btn-sm btn-outline-warning">View More Products</a>                    
                </div>
            </div>
            
              
            <div class="row  m-4 mt-4" id="3">
                <div style="display: flex; align-items: start; font-weight: bold; padding: 10px 20px;">
                    Services Available
                </div>
                  
                {% for service in services %}
                    <div class="col mb-3" >
                        <div class="card">                        
                            <img class="card-img." src="{{ service.photo.url }}" alt="service image "  style="width: 100%; height: 180px; object-fit: cover;" />                        
                            <div class="card-body p-1">
                                <div class="text-center">                               
                                    <h5 class="fw-bolder " style="font-family: sans-serif;">{{service.service_name}} </h5>                             
                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(0, 255, 102);"> Shs {{service.price}} </h3>                                                       
                                    
                                </div>
                            </div>                      
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:service' service.id %}">VIEW SERVICE</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div  style="display: flex; align-items: flex-end; justify-content: flex-end;">                    
                    <a href="{% url 'business:service-list' %}" class="btn btn-sm btn-outline-warning">View More Services</a>                    
                </div>
            </div>
        </div>
    </section>
   
{% endblock %}