{% extends 'base.html' %}
{% load static%}
{% block content %} 

<!DOCTYPE html>
<html> 
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	


	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		* {
			font-family: "Poppins", sans-serif;
		}		
		p  {
			text-align: center;
			color: black;
		}
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background:#fff;
		}
		.user_card {
			width: 100%;
			margin-top: auto;
			margin-bottom: auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 20px 20px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #000;
			text-align:left;
			display:block;
			width:100%;
			padding:0 20px;
		}

		.login_btn {
			width: fit-content;
			background: #33ccff !important;
			color: white !important;
		
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			display: flex;
			justify-content: left;
		}
		.input-group {
			width:100%;
			display: flex;
			flex-direction: row;
			flex-wrap:nowrap;
		}
		form {
			width:100%;
			padding:0 50px;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: white;
			padding: 10px;
			margin-top: 10px;
		}
		.login-container {
			width:600px;
			transform:translateX(-50%);
			position:relative;
			left:50%;
			height:400px;
		}
		.bar {
			background-color: rgba(128, 128, 128, 0.603);
			height: 1px;
			width:100%;
		}
		.links {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.links div {
			display: flex;
			justify-content: center;
		}
		.links a {
			text-decoration: none;
		}
	</style>

</head>
<body>
	<div class=" h-100 login-container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">LOGIN</h3>
				</div>
				<p class="bar"></p>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class=" mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>
		
				<div class="mt-4">
					<div class="links">
						<p>Don't have an account?</p> 
						<div>
							<a href="{% url 'business:register_customer' %}" class="ml-2">Sign Up</a> |
							<a href="{% url 'business:register_business' %}" class="ml-2">Sign Up As Business</a>
						</div>										
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
