{% extends "base.html" %}
{% load static %}
{% block content %}
    <section>
        <div class="container " style="margin-top: 60px;">
            <div class="d-flex justify-content-center"><h3>Manage Orders, Appointments, Products and Services</h3></div>
        </div>
        <!-- orders -->
        {% if orders%}
            <div class="container mt-15">
                <div class="d-flex justify-content-center"><h6>ORDERS</h6></div>
                <table  class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" >Product Name</th>
                            <th scope="col" >Customer</th>
                            <th scope="col" >Quantity</th>
                            <th scope="col" >Address</th>
                            <th scope="col" >Phone Number</th>
                            <th scope="col" >date</th>
                            <th scope="col" >Status</th>
                            <th scope="col" >Checkout</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.customer }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.phone }}</td>
                            <td>{{ order.date }}</td>
                            <td>{% if order.status %}Delivered{% else %}Not Delivered {% endif %}</td>
                            <td><a href="{% url 'business:check' order.id %}" ><i class="bi bi-check2-circle"></i></a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        {% else %}
        <p>YOU HAVE NO ORDERS</p>
        {% endif %}          
        
        <!-- products -->
        
            <div class="container mt-5" >
                <div class="d-flex justify-content-center"><h6>PRODUCTS</h6></div>    
                <table  class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" >Product Name</th>
                            <th scope="col" >Price</th>
                            <th scope="col" >Availability</th>
                            <th scope="col" >Discount</th>
                            <th scope="col" >Discounted Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td><a href="{% url 'business:UpdateProduct' product.id %}">{{ product.product_name }}</a></td>
                            <td>{{ product.price }}</td>
                            <td>{% if product.availability %}Available{% else %}Out of Stock{% endif %}</td>
                            <td>{% if product.discount %}Yes{% else %}No{% endif %}</td>
                            <td>{% if product.discount %}{{ product.discounted_price }}{% else %}No{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                
                <a href="{% url 'business:add-product' %}" class="btn btn-info " tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-plus-lg"></i></a>  
            </div>
        
        
        <!-- Appointments -->
        {% if appointments %}
            <div class="container mt-5">
                <div class="d-flex justify-content-center"><h6>APPOINTMENTS</h6></div>
                <table  class="table table-dark table-striped">
                    <thead>
                        <tr>                        
                            <th scope="col" >Customer</th>                        
                            <th scope="col" >Phone Number</th>
                            <th scope="col" >Date</th>
                            <th scope="col" >Time</th>  
                            <th scope="col" >Status</th>  
                            <th scope="col" >Checkout</th>                      
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>                        
                            <td>{{ appointment.customer }}</td>                
                            <td>{{ appointment.phone }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time}}</td> 
                            <td>{% if appointment.status %}Approved{% else %}Not Approved {% endif %}</td>
                            <td><a href="{% url 'business:approve' appointment.id %}"><i class="bi bi-check2-circle"></i></a></td>           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
        <p>YOU HAVE NO APPOINTMENTS</p> 
        {% endif %}


        <!-- services -->
        
            <div class="container mt-5" style="margin-bottom: 29%;">
                <div class="d-flex justify-content-center"><h6>SERVICES</h6></div>    
                <table  class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col" >Name</th>
                            <th scope="col" >category</th>
                            <th scope="col" >Price</th>
                            <th scope="col" >Opening Time</th>
                            <th scope="col" >Closing Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td><a href="{% url 'business:UpdateService' service.id %}">{{ service.service_name }}</a></td>
                            <td>{{ service.category }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.opening_time }}</td>
                            <td>{{ service.closing_time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'business:add-service' %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-plus-lg"></i></a>    
            </div>
        
    </section>
{% endblock %}

