<style>
  .bg-red{
    background:#daa520;
  
  }
  .navbar-brand{    
    color:black;
    background:#daa520;
  }
  .navbar-nav .nav-item {
    margin-right: 15px;    
    padding: 3px;
  }
  .navbar-nav .nav-link {
    color: black !important;
  }
  .navbar-nav .nav-link:hover {
    color:orange !important;
  }
  .dropdown-menu {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
 
  .dropdown-menu a:hover {
    background-color: white !important;
    color:orange;
  }  

  .navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 100; 
  }

 
</style>
<nav class="navbar navbar-expand fixed-top bg-light" >
  <a href="{% url 'business:home' %}" class="navbar-brand ms-2 h1">OneSTOP</a>
  <button
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ml-auto ">
        <li class="nav-item active">
          <a href="{% url 'business:home' %}" class="nav-link active"> HOME </a>
        </li> 
                 
        {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PROFILE
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a href="{% url 'business:update-profile' %}" class="nav-link active"> UPDATE PROFILE</a>
                <a href="{% url 'business:update-info' %}" class="nav-link active"> UPDATE INFO</a>
              </div>
            </div>  
            <li>
              <a href="{% url 'business:logout'%}" class="nav-link active"> LOGOUT</a>
            </li>
            <li>
              <a href="{% url 'business:manage'%}" class="nav-link active"> MANAGE </a>
            </li>        
        {% else %}
            <li class="nav-item active">
              <a href="{% url 'business:login'%}" class="nav-link active"> LOGIN</a>
            </li>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                REGISTER
              </button>
              <ul class="dropdown-menu">                
                <li><a class="dropdown-item" href="{% url 'business:register_business'%}">Business Account</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'business:register_customer'%}">Customer Account</a></li>
              </ul>
            </div>
        {% endif %} 
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CATEGORY
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <li></li><a href="{% url 'business:category' 'electronics' %}" class="nav-link "> Electronics</a></li>
            <li></li><a href="{% url 'business:category' 'fashion_beauty' %}" class="nav-link "> Fashion and Beauty</a></li>
            <li></li><a href="{% url 'business:category' 'sporting' %}" class="nav-link "> Sporting</a></li>
            <li></li><a href="{% url 'business:category' 'kids_corner' %}" class="nav-link "> Kids corner</a></li>
            <li></li><a href="{% url 'business:category' 'outdoor' %}" class="nav-link "> Outdoor</a></li>
            <li></li><a href="{% url 'business:category' 'home_living' %}" class="nav-link "> Home living</a></li>
            <li></li><a href="{% url 'business:category' 'groceries' %}" class="nav-link "> Groceries</a></li>            
          </div>
        </div>         
        
          
      </ul>
      <div class="container" style="display: flex; justify-content:space-between; align-items: center; margin-right: 0px;">
        <div class="container">
          <form method="POST" action="{% url 'business:search' %}" class="d-flex" role="search">
            {% csrf_token %} 
            <input class="form-control me-3" size="40" name="search-term" type="search" placeholder="Search Products, Services" aria-label="Search">
            <button class="btn btn-outline-warning me-3" type="submit">Search</button>
        </form>
        </div>
        <div id="my_cart" style="display: flex; align-items: center; border-radius: 5px; border-style: solid; padding: 5px;">
            <i class='bi-cart-fill me-1'></i> Cart
            <span class='badge bg-dark text-white ms-1 rounded-pill' id='cart_quantity'>{{ cart|length }}</span>
        </div>
        <script>          
          $('#my_cart').on('click', function() {              
              window.location.href = '{% url "cart:cart_detail" %}';
          });
        </script>
      </div>
    </div>
    
  </div>
</nav>

    
    
