<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }
        .container-form {
            width: 400px;
            height: 400px;
            justify-content: center;
            box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
            border: none;
            background: white;
            backdrop-filter: blur(0px);
            transform: translateX(+70%);
}

        
        .container-form h1 {
            text-align: center;
            color:black;
        }
        .container-form > div {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            color:black;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }
        #button {
            width: 100%;
            padding: 10px;
            background-color:orange;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
        #button:hover {
             color:black;
             text-decoration: none;
        }
    </style>
    <title>Order Form</title>
</head>
<body>
    <div class="container">
        <form class="container-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Create Order</h1>
            <div class="name-inputs">
                <label for="Product">Product Name:</label>
                {{ form.product }}
                <label for="customer">Customer Name:</label>
                {{ form.customer }}
                <label for="quantity">Quantity:</label>
                {{ form.quantity }}
                <label for="address">Address:</label>
                {{ form.address }}
                <label for="phone">Phone:</label>
                {{form.phone }}
                <label for="date">Date:</label>
                {{ form.date }}
                <label for="status">Status:</label>
                {{ form.status }}
            </div>
            
            <input type="submit" value="Send" id="button">
        </form>
    </div>
</body>
</html>
