{% extends 'base.html' %}
{% block content%}

<div class="container-fluid">
  <div class="text-white bg-dark text-center">
    Product details
  </div>
  
    <br>
    <br>
    <br>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                      
                            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{product.product_name}}</h5>
              <p class="card-text">{{product.Description}}</p>
              <br>
              
              {% if product.discount %}
                    
              <div class="col mb-5">
                  <div class="card h-100">                               
                    <strike>
                      <h4 class='bold'>Price: Shs {{product.price}}</h5>
                    </strike>                    
                    <h4 class='bold'>Price: Shs {{product.discounted_price}}</h5>
                      <div>
                        {% if product.get_rating > 0 %}
                          <div class="text-primary">Rating: {{product.get_rating}} / 6</div>
                        {% endif %}
                      </div>                      
                    Category: {{product.category}}                              
                    <a href="{% url 'business:business_Page'  product.Business.id  %}">{{product.Business}}</a>
                  <br>
                  <form action="{% url 'cart:cart_add' business_id=product.Business.id product_id=product.id %}" method="post">
                    {{ cart_product_form}}
                    {% csrf_token%}
                    <button type="submit" class="btn btn-primary mt-2">Add to cart</button>

                </form>
                  <br>
                      </div>
                      </div>                        
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      </div>
                  </div>
              </div>

                {% else %} 
                  <h4 class='bold'>Price: Shs {{product.price}}</h5>
                    <div>
                      {% if product.get_rating > 0 %}
                      <div class="text-primary">Rating: {{product.get_rating}} / 6</div>
                      {% endif %}
                    </div>                  
                  Category: {{product.category}}                  
                  <a href="{% url 'business:business_Page' product.Business.id %}">{{product.Business}}</a>                 
                  
                  <form action="{% url 'cart:cart_add' business_id=product.Business.id product_id=product.id %}" method="post">
                      {{ cart_product_form}}
                      {% csrf_token%}
                      <input type="submit" value="Add to cart">
                  </form>
                  <div class="product-description">
                      {{ product.description|linebreaks }}
                  </div>

                {% endif %}
            </div>
        </div>
        <div class="reviewform">
          <h2>Reviews</h2>
          {% if request.user.is_authenticated %}
          <form method="POST" action="{% url 'business:product' product.id %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="rating">Rating</label>
              <select name="rating" class="form-control" id="rating" placeholder="select rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </div>
            <div class="form-group">
              <label for="content">Comment</label>
              <textarea name="content" class="form-control" id="content"></textarea>
            </div>
            <div><button type="submit" class="btn btn-primary mt-2">Submit</button></div>
          </form>
          {% endif %}
          {% for review in product.reviews.all %}
          <div class="card mb-4 mt-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <strong>Rating:</strong> {{ review.rating }}/6<br>
                  <strong>Date:</strong> {{ review.created_at|date:"Y-m-d" }}<br>
                </div>
              </div>
              <hr>
              <strong>Comment:</strong><br>
              {{ review.content }}
            </div>
          </div>
          {% endfor %}
        </div>
        

<br>
{% endblock %}