{% extends "base.html" %}
{% load static %}
{% block content %}            
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Order Products</h1>
                <p class="lead fw-normal text-white-50 mb-0">Get what you need, right when you need it.</p>
            </div>
        </div>
    </header>        
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    {% if product.trending %}                    
                        <div class="col mb-3">
                            <div class="card ">                        
                                <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                <div class="card-body p-1 bg-gradient">
                                    <div class="text-center">                               
                                        <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                        <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128); text-decoration: line-through;"> Shs {{product.price}} </h3>  
                                        <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.trending_price}} </h3>                                                         
                                        
                                    </div>
                                </div>                        
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'order'  %}">VIEW PRODUCT</a></div>                                
                                </div>
                            </div>
                        </div>


                    {% else %}
                        <div class="col mb-3">
                            <div class="card ">                        
                                <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                <div class="card-body p-1 bg-gradient">
                                    <div class="text-center">                               
                                        <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                        <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.price}} </h3>                                  
                                        
                                    </div>
                                </div>                        
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:product' product.id %}">VIEW PRODUCT</a></div>                                
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}                
                    
            </div>            
        </div>
    </section>
   
    <div class="row">
        <div class="col-lg-12">
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">         

                        {% for page_number in page_obj.paginator.page_range %}                           
                            {% if page_obj.number == page_number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ page_number }}">
                                        {{ page_number }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">
                                        {{ page_number }}
                                    </a>
                                </li>
                            {% endif %}        
                            
                        {% endfor %}
                        
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>       
    
{% endblock %}