{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
	<div class="container mt-5 pt-4 mx-9">
			<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		<table>
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
			{{ wizard.form.management_form }}
			{% for form in wizard.form.forms %}
				{{ form|crispy}}
			{% endfor %}
		{% else %}
			{{ wizard.form|crispy }}
		{% endif %}
		</table>
		{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="button" class="btn btn-outline-secondary" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button>
		<button name="wizard_goto_step" type="button" class="btn btn-outline-secondary" type="submit " value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
		{% endif %}
		<input type="submit" type="button" class="btn btn-outline-secondary" value="{% translate 'submit' %}"/>
		</form>
	</div>
{% endblock %}

