{% extends "base.html" %}
{% load static %}
{% block content %} 

    <header class=" py-5" style="background:#1d3a58">
        <div class="container px-2 px-lg-3 my-3">
            <div class="text-center text-white">
                <h1 class="">RESULTS</h1>
                <p class="lead fw-normal text-white-50 mb-0">Find the products and services of your choice</p>
            </div>
        </div>
    </header>      

    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class= "col-8">           
            
            <section class="py-5">
              <div class="container" id="outer">                  
                  <div class="row container m-4" id="2" style="position:relative ;">                      
                      {% for product in products %}
                          <div class="col mb-3">
                              <div class="card ">                        
                                  <img class="card-img." src="{{ product.photo.url }}" alt="product image"  style="width: 100%; height: 180px; object-fit: contain;"  />                        
                                  <div class="card-body p-1 bg-gradient">
                                      <div class="text-center">                               
                                          <h5 class="fw-bolder">{{product.product_name}}</h5>                                    
                                          <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(18, 44, 128);"> Shs {{product.price}} </h3>                                  
                                          
                                      </div>
                                  </div>                        
                                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                      <div class="text-center"><a class="btn btn-outline-primary mt-auto btn-lg btn-block" href="{% url 'business:product' product.id %}">VIEW PRODUCT</a></div>                                
                                  </div>
                              </div>
                          </div>
                      {% endfor %}                      
                  </div>                 
                    
                  <div class="row container m-4" id="3">                      
                      {% for service in services %}
                          <div class="col mb-3" >
                              <div class="card">                        
                                  <img class="card-img." src="{{ service.photo.url }}" alt="service image "  style="width: 100%; height: 180px; object-fit: cover;" />                        
                                  <div class="card-body p-1">
                                      <div class="text-center">                               
                                          <h5 class="fw-bolder " style="font-family: sans-serif;">{{service.service_name}} </h5>                             
                                          <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(0, 255, 102);"> Shs {{service.price}} </h3>                                                       
                                          
                                      </div>
                                  </div>                      
                                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                      <div class="text-center"><a class="btn btn-outline-primary mt-auto btn-lg btn-block" href="{% url 'business:service' service.id %}">VIEW SERVICE</a></div>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                     
                  </div>
              </div>
          </section>
          </div>    
      </div>
    </div>
   
{% endblock %}