{% extends "base.html" %}
{% load static %}
{% block content %}            
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Book Services</h1>
                <p class="lead fw-normal text-white-50 mb-0">Your time, your terms-book online!</p>
            </div>
        </div>
    </header>        
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row container m-4" id="3">
                <div style="display: flex; align-items: start;">
                    <p text>Services Available</p>
                </div>
                {% for service in services %}
                    <div class="col mb-3" >
                        <div class="card">                        
                            <img class="card-img." src="{{ service.photo.url }}" alt="service image "  style="width: 100%; height: 180px; object-fit: cover;" />                        
                            <div class="card-body p-1">
                                <div class="text-center">                               
                                    <h5 class="fw-bolder " style="font-family: sans-serif;">{{service.service_name}} </h5>                             
                                    <h3 class="text-primary " style="font-family: 'Times New Roman', Times, serif; color: rgb(0, 255, 102);"> Shs {{service.price}} </h3>                                                       
                                    
                                </div>
                            </div>                      
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-warning mt-auto btn-lg btn-block" href="{% url 'business:service' service.id %}">VIEW SERVICE</a></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>    
        </div>
    </section>
   
    <div class="row">
        <div class="col-lg-12">
            {% if page_obj.has_other_pages %}
                <nav>
                    <ul class="pagination justify-content-center">         

                        {% for page_number in page_obj.paginator.page_range %}                           
                            {% if page_obj.number == page_number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ page_number }}">
                                        {{ page_number }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">
                                        {{ page_number }}
                                    </a>
                                </li>
                            {% endif %}         
                            
                        {% endfor %}

                        
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>       
    
{% endblock %}