{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <center>
        <div class="text-white bg-dark">Service details</div>
    </center> 
    <br>
    <br>
    <br>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{service.photo.url}}" class="img-fluid rounded-start" alt="...">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{service.service_name}}</h5>
                    <p class="card-text">{{service.description}}</p>
                    <br>  

                    <div class="col mb-5">
                        <div class="card h-100">                               
                            <h4 class='bold'>Price: Shs {{service.price}}</h5>
                            <div>
                                {% if service.get_rating > 0 %}
                                  <div class="text-primary">Rating: {{service.get_rating}} / 6</div>
                                {% endif %}
                            </div>      
                            
                            Category: {{service.category}}
                            <br>
                            <a href="{% url 'business:business_Page' service.Business.id  %}">{{service.Business}}</a>
                            <br>
                            <center>
                                <a href="{% url 'business:book' service.id service.Business.id %}" class="btn btn-warning">Book Appointment</a>
                            </center>
                            <br>
                        </div>
                    </div> 
       </div>
    </div>
    <div class="reviewform">
        <h2>Reviews</h2>
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'business:service' service.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="rating">Rating</label>
            <select name="rating" class="form-control" id="rating" placeholder="select rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3" selected>3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <div class="form-group">
            <label for="content">Comment</label>
            <textarea name="content" class="form-control" id="content"></textarea>
          </div>
          <div><button type="submit" class="btn btn-primary mt-2">Submit</button></div>
        </form>
        {% endif %}
        {% for review in service.reviews.all %}
        <div class="card mb-4 mt-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <strong>Rating:</strong> {{ review.rating }}/6<br>
                <strong>Date:</strong> {{ review.created_at|date:"Y-m-d" }}<br>
              </div>
            </div>
            <hr>
            <strong>Comment:</strong><br>
            {{ review.content }}
          </div>
        </div>
        {% endfor %}
      </div> 
{% endblock %}
                    

           
            
  
