
{% extends "base.html" %}
{% load static %}
{% block content %}            
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Info Page</h1>
                <p class="lead fw-normal text-white-50 mb-0">Update your info</p>
            </div>
        </div>
    </header>        
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                {% if submitted %} 
                    Your info was updated successfully    
                {% else %} 
    
                <form action = "", method = "POST", enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{form.as_p}}    
                <input type="submit", value= 'Update info', class= "btn btn-secondary">    
                </form>
                {% endif %}
              </div>
            </div>
          </div>
    </section>


{% endblock %}


