{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Update</h1>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="record_id" value="{{ record.id }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary my-2">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

