
{% extends "base.html" %}
{% load static %}
{% block content %}            
    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Profile Page</h1>
                <p class="lead fw-normal text-white-50 mb-0">Update your profile here</p>
            </div>
        </div>
    </header>        
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                {% if submitted %} 
                    Your form was submitted successfully

                {% else %} 

                    <form action = "", method = "POST", enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{update_form.as_p}}

                    <input type="submit", value= 'Update profile', class= "btn btn-primary my-2">

                    </form>
                {% endif %}
        
                <a href="{% url 'business:update-password'%}" class="btn btn-secondary" >UPDATE PASSWORD</a>
              </div>
            </div>
          </div>       
    
    </section>
{% endblock %}


