<!-- <style>
  /* Custom CSS styles */
  .card {
    border: none; /* Remove border from cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: box-shadow 0.3s ease; /* Add transition effect on hover */
  }
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }

  .card-img-top {
    height: 200px; /* Set height for card images */
    object-fit: cover; /* Maintain aspect ratio of images */
  }

  .card-title {
    font-size: 1.5rem; /* Increase font size of card titles */
    color: #333; /* Text color for card titles */
    margin-bottom: 0.5rem; /* Add some bottom margin to card titles */
  }

  .card-text {
    color: #666; /* Text color for card descriptions */
  }

  .card-body {
    padding: 1.5rem; /* Add padding inside card bodies */
  }

  .container {
    max-width: 1200px; /* Set maximum width for container */
  }

  .mt-5 {
    margin-top: 5rem; /* Set margin-top for spacing */
  }
</style>
<div class="container mt-5">
  <!-- Electronics Components Row -->
  <!-- <div class="row">
    <!-- Computer Card -->
    <!-- <div class="col-md-3">
      <div class="card">
        <img -->
          <!-- src="https://via.placeholder.com/300"
          class="card-img-top"
          alt="Computer"
        />
        <div class="card-body"> -->
          <!-- <h5 class="card-title">Computer</h5> --> -->
          <!-- <p class="card-text">
            Description of the computer with its specifications.
          </p>
        </div>
      </div> -->
    <!-- </div>
    <!-- Smartwatch Card -->
    <!-- <div class="col-md-3">
      <div class="card">
        <img -->
          <!-- src="https://via.placeholder.com/300"
          class="card-img-top"
          alt="Smartwatch"
        />
        <div class="card-body"> -->
          <!-- <h5 class="card-title">Smartwatch</h5>
          <p class="card-text">
            Features and functionalities of the smartwatch. -->
          <!-- </p>
        </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- Television Card -->
    <!-- <div class="col-md-3">
      <div class="card">
        <img -->
          <!-- src="https://via.placeholder.com/300"
          class="card-img-top"
          alt="Television" -->
        <!-- /> --> -->
        <!-- <div class="card-body">
          <h5 class="card-title">Television</h5>
          <p class="card-text">
            Various models, screen sizes, and smart features.
          </p>
        </div> -->
      <!-- </div>
    </div>
    <!-- Fridge Card -->
    <!-- <div class="col-md-3">
      <div class="card"> -->
        <!-- <img -->
          <!-- src="https://via.placeholder.com/300"
          class="card-img-top" -->
          <!-- alt="Fridge" -->
        <!-- /> -->
        <!-- <div class="card-body">
          <h5 class="card-title">Fridge</h5>
          <p class="card-text"> -->
            <!-- Energy efficiency, capacity, and advanced cooling technology. -->
          <!-- </p>
        </div>
      </div> --> -->
    <!-- </div>
  </div>
</div> -->

<!-- <div class="container mt-5">
  <!-- Beauty Care Row -->
  <!-- <div class="row"> -->
    <!-- Hair Care Card -->
    <!-- <div class="col-md-4">
      <div class="card">
        <img -->
          <!-- src="https://via.placeholder.com/300" -->
          <!-- class="card-img-top" --> -->
          <!-- alt="Hair Care" -->
        <!-- /> -->
        <!-- <div class="card-body"> -->
          <!-- <h5 class="card-title">Hair Care</h5> -->
          <!-- <p class="card-text"> -->
            <!-- Explore our range of shampoos, conditioners, hair treatments, and -->
            <!-- styling products. -->
          <!-- </p> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- Skin Care Card -->
    <!-- <div class="col-md-4"> -->
      <!-- <div class="card"> -->
        <!-- <img -->
          <!-- src="https://via.placeholder.com/300" -->
          <!-- class="card-img-top" -->
          <!-- alt="Skin Care" -->
        <!-- /> -->
        <!-- <div class="card-body">
          <h5 class="card-title">Skin Care</h5>
          <p class="card-text">
            Discover cleansers, moisturizers, serums, and sunscreens to keep -->
            <!-- your skin healthy.
          </p>
        </div>
      </div> -->
    <!-- </div> -->
    <!-- Nails Care Card -->
    <!-- <div class="col-md-4"> -->
      <!-- <div class="card">
        <img
          src="https://via.placeholder.com/300"
          class="card-img-top"
          alt="Nails Care" -->
        <!-- /> -->
        <!-- <div class="card-body">
          <h5 class="card-title">Nails Care</h5>
          <p class="card-text"> -->
            <!-- Find the perfect nail polish, treatments for strength, and tools for
            the perfect manicure.
          </p>
        </div> -->
      <!-- </div>
    </div>
  </div>
</div> -->
 <!-- --> -->
