{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center text-bg-primary">CHECKOUT</h1>
        <h4>Your Order</h4>
        <ul class="list-group mb-3">
          {% for item in cart %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ item.quantity }} x {{ item.product }}
            <span class="badge bg-primary rounded-pill">Shs {{ item.total_price }}</span>
          </li>
          {% endfor %}
        </ul>
        <p>Total: Shs {{ cart.get_total_price }}</p>
        <h5 class="text-center"><strong>PAYMENTS ON DELIVERY</strong></h5>
        <form method="post">
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary mt-3">Place Order</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}